{% extends 'base.html' %} {% block content %}
{% load static %}
<section class="content">
  <div class="header">
    <img src="{% static 'img/twitter.png' %}" />
    <h1>Edit</h1>
  </div>
  <section class="post_form">
    <form action="/edit/{{posts.id}}/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Name" value="{{posts.name}}" required /><br />
      <input name="body" placeholder="Tell us anything" value="{{posts.body}}" required></input> 
      <br />
      {% if posts.image.url %}
          <img src="{{posts.image.url}}" style="width: 250px; height: 200px;" alt="">
          {% endif %}
          <br>
      <input type="file" name="image" id="choosefile">
      <div class="banner">
          <a href="/" id="cancel">Cancel</a>
          <input type="submit" value="Tweet" id="button" />
      </div>
      
    </form>

  </section>
  {% endblock %}